name = "fstats"
version = "1.2.4"
license = "GPL-3.0"
author = "Jason Christopherson"
maintainer = "Jason Christopherson"
copyright = "Copyright 2022-2024, Jason Christopherson"
description = "A modern Fortran statistical library."
homepage = "https://github.com/jchristopherson/fstats"

[library]
source-dir = "src"

[dependencies]
ferror = { git = "https://github.com/jchristopherson/ferror" }
linalg = { git = "https://github.com/jchristopherson/linalg" }
openmp = "*"

[dev-dependencies]
fortran_test_helper = { git = "https://github.com/jchristopherson/fortran_test_helper" }

[install]
library = true

[build]
auto-executables = false
auto-examples = false
auto-tests = false

[preprocess]
cpp.macros = ["USEOPENMP=1"]

[[test]]
name = "fstats_tests"
source-dir = "tests"
main = "fstats_tests.f90"